# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
venv/
.venv/
env/
.env/
ENV/

# IDEs
.vscode/
.idea/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Variables de entorno
.env
.env.local
